includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app

  level: 6
  # 0 ~ 9
  # see https://phpstan.org/user-guide/rule-levels

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
